@{
    Layout = "_Layout";
    ViewBag.Title = "Inicio de sesión";
}

<div class="card card-plain mt-8" style="min-width: 25vw">
    <div class="card-header pb-0 text-left bg-transparent text-center">
        <img src="~/assets/images/logo_entrylog_light.png" alt="navbar brand" class="navbar-brand" height="50">
    </div>
    <div class="card-body">
        <form id="login-form" role="form" class="needs-validation" novalidate>
            @Html.AntiForgeryToken()
            <label>Correo electrónico</label>
            <div class="mb-3">
                <input type="email" class="form-control" id="username" name="username" required
                       placeholder="email@dominio.com" aria-label="Email" aria-describedby="email-addon">
            </div>
            <label>Contraseña</label>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" required
                       placeholder="Ingresa tu contraseña" aria-label="Password" aria-describedby="password-addon">
            </div>
            <div id="login-form-button" class="text-center">
                <button type="submit" class="btn btn-dark w-100 mt-4 mb-3">Ingresar</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-center pt-0 px-lg-2 px-1">
        <p class="mb-4 text-xs mx-auto">
            <a href="/cuenta/recuperar" class="text-dark font-weight-bold">Olvidé mi contraseña</a>
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/js/account.login.js"></script>
}
